{
    "presets": [
      "@babel/preset-env",
      "@babel/preset-react"
    ],
    "plugins": [
    [
      "module-resolver",
      {
        "root": [ "./" ],
        "extensions": [ ".js", ".jsx" ],
        "alias": {
          "@/app": "./src/module/app",
          "@/book": "./src/module/book",
          "@/author": "./src/module/author",
          "@/home": "./src/module/home",
          "@/auth": "./src/module/auth"
        }
      }
    ]
  ]
}